html,
body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin-top: 0;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 22px;
}

.header__content {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 88px 50px 96px;
}

/* Лого header */
.logo {
  width: 136px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Меню в хидер */
.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.menu__header {
  display: flex;
  gap: 31px;
  padding-top: 47px;
  list-style-type: circle;
  font-size: 18px;
  text-underline-position: under;
}

.contact-header {
  max-width: 240px;
  justify-self: end;
}

.contact-text {
  display: grid;
  width: 239px;
  padding-top: 7px;
  line-height: 1.35;
  font-size: 18px;
  font-style: normal;
  text-underline-position: under;
}

.block_background {
  display: flex;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Затенение картинки блока cover*/
.filters__background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.text_cover {
  padding: 155px 20px 85px 51px;
  letter-spacing: 31px;
  font-size-adjust: 0.51;
}

.text-title {
  line-height: 1.349; /* Увеличиваем расстояние между строками */
  text-transform: uppercase;
}

.title-left {
  text-align: left;
  display: block;
}

.title-center {
  display: block;
  text-align: center;
}

.title-right {
  text-align: right;
  display: block;
}

.bet_button {
  display: flex;
  padding: 0 25px 40px 50px;
}

.cta-container {
  padding-top: 25px;
  font-size: 22px;
  word-spacing: 0.85em;
  text-align: justify;
  /* letter-spacing: 0.0656em; */
}

/* Стиль для кнопки */
.button {
  margin: 11px 10px 10px 107px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 31px 11px;
  font-size: 22px;
  transition: all 0.3s ease;
}

/* Эффект при наведении на кнопку */
button:hover,
.more-button:hover {
  opacity: 0.5;
  font-size: 20px;
}

.lots-cards {
  margin-top: 180px;
}

.frame-amount-card {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/*     Секция с карточками лотов    */
.title-lot {
  padding: 0 0 27px 64px;
  text-transform: uppercase;
}

.lots__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 24px;
  padding: 0;
  list-style: none;
  color: white;
}

.lots__card-list-item {
  flex: 1 1 32%; /* каждая карточка занимает ~32% ширины */
  max-width: 334px; /* минимальная ширина карточки (чтобы не сжимались слишком сильно) */
  margin: 0 0 20px; /* отступы: сверху 0, по бокам 10px, снизу 20px */
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  justify-content: space-between;
  padding: 48px 40px 48px 39px;
}

.card__title {
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 3px;
}

.card__text {
  font-size: 20px;
  line-height: 120%;
}

.style_img_lot {
  width: 100%;
  height: 596px; /* выота карточки */
  background-position: center; /* центрируем по горизонтали и вертикали */
  background-repeat: no-repeat; /* без повторений */
  background-size: cover; /* заполнение и пропорции */
}

.img-lot-left {
  background-image: url("../images/card-lot-01.jpg");
}

.img-lot-centre {
  background-image: url("../images/card-lot-02.jpg");
}

.img-lot-right {
  background-image: url("../images/card-lot-03.jpg");
}

.t-line {
  text-decoration: underline;
}

.more-button {
  display: block;
  padding: 11px 64px 0 64px;
  font-size: 20px;
  text-underline-offset: 4px;
}

/*    Стили блок О нас  */
.container-about {
  display: flex;
  margin: 117px 0 154px;
  /* padding: 35px 0 0 47px; */
  flex-direction: row;
  justify-content: start;
}

.logo-about {
  /* flex: 0 0 240px; */
  /* margin: 36px 0 0 71px; */
  padding: 36px 71px;
}

.figure-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

.logo-about img {
  width: 148px;
  height: 148px;
}

.content-about {
  display: block;
  margin: 38px 0 0 0px;
}

.title-about {
  margin: 0px 0 0px;
  padding: 101px 0 100px;
}

/* заглавные буквы */
.text-uppercase {
  text-transform: uppercase;
}

.about {
  font-size: 20px;
  padding-right: 1.4em;
  padding-bottom: 25px;
  text-align: left;
}

.about span {
  word-spacing: 0.1em;
}

/*      Стили Футер      */
.futer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 84px;
}

.contact-futer {
  width: 295px;
  justify-self: start;
  padding-top: 0;
  padding-left: 50px;
  font-size: 18px;
  text-underline-position: under;
}

/* Стили для списка меню */
.footer__menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стили для пунктов списка */
.footer__menu-list-item {
  display: grid;
  justify-content: center;
  text-underline-position: under;
  margin-bottom: 0;
  color: black;
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
  color: black;
}

.socials {
  display: inline-flex;
  justify-content: flex-end;
  gap: 48px;
  padding-right: 50px;
  list-style: none;
}

.logo-size {
  display: inline;
  width: 48px;
  height: 48px;
}

.social-link {
  display: block;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.logo-image.logo-size {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
